* {
    margin: 0;
    padding: 0;
    background-color: #F0F2F5;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 150px;
}

.c-left,
.c-wrapper,
.c-right {
    display: flex;
    flex-direction: column;
}

.c-left {
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 55px;
}


.c-right {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.c-img {
    height: 106px;
    margin-left: -27px;
    margin-bottom: -9px;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.c-desc {
    font-size: 28px;
    font-weight: 400;
    width: 89%;
}

.c-wrapper {
    background-color: white;
    width: 386px;
    height: 320px;
    border: none;
    outline: none;
    padding: 12px 4px;
    border-radius: 8px;
    margin-top: 77px;
    margin-right: 139px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input {
    width: 86%;
    margin: 6px;
    padding: 16px 16px;
    outline: none;
    background: white;
    border-radius: 5px;
    border: 1px solid #dadada;
    font-size: 17px;
    margin-left: 12px;
}

input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 5px rgba(24, 119, 242, 0.3);
    opacity: 0.7;
}

.c-btn {
    background-color: #1877F2;
    color: white;
    border: none;
    outline: none;
    padding: 12px 19px;
    border-radius: 5px;
    margin: 12px;
    font-size: 20px;
    font-weight: 600;
    width: 95%;
    margin-left: 10px;
    cursor: pointer;
}

.c-btn:hover {
    box-shadow: 0 0 5px #1877F2;
}

.c-password {
    text-align: center;
    font-size: 14px;
    background: white;
    padding: 2px;
    color: #1877F2;
}

.hr {
    margin: 20px 17px;
    width: 92%;
    text-align: center;
    height: 0.1px;
    background-color: rgb(221, 221, 221);
}

.c-btn2 {
    width: 50%;
    margin: 0px 102px;
    background-color: #42b72a;
    color: white;
    border: 0;
    outline: 0;
    padding: 16px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}

.c-page {
    color: black;
}

.msg {
    margin-top: 22px;
    margin-left: -131px;
    font-size: 14px;
}

a:hover {
    list-style-type: disc;
    text-decoration: underline;
}

.c-btn2:hover {
    opacity: 0.7;
}

.darkmode {
    background-color: #1877F2;
    color: white;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 34px;
    margin-left: 170px;
    cursor: pointer;
}

.dark-mode {
    background-color: black;
    color: white;
}